---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Projects">

<section class="max-w-5xl mx-auto px-6">

<h1 class="
text-5xl
font-bold
text-rose
mb-12
">
Projects
</h1>


<ProjectCard
title="Word Watcher - Crosswords"
type="personal"
company="Minty Jam Games LLC"
highlights={[
        "Business Owner and Entrepreneur",
        "Created a brand new Word Game from Scratch",
        "First time Designer for Economy and Feature Progression",
        "Wearing many hats as a solo dev!"
    ]}
image="/images/word_watcher_1.png"
google="https://play.google.com/store/apps/details?id=com.mintyjam.crossword.android"
apple="https://apps.apple.com/us/app/word-watcher-crossword-games/id6758176289"
technologies={[
        "Unity",
        "C#",
        "Android/Java",
        "ObjectiveC"
    ]}
/>

<br>
<ProjectCard
    title="Word Collect"
    type="professional"
    company="Super Free Games, Inc."
    highlights={[
        "Principal Engineer and Technical Lead on the Game Client",
        "Built the Game and Infrastructure to operate the Game as a Service",
        "Developed Tools and Systems for LiveOps, Maintenance and Support",
        "Served as Engineering Lead doing reviews, task assignment, design meetings and mentoring",
        "Also served as occasional Database Administraror and DevOps Support",
        "The game was (still is) one of the most successful games in the Apple and Google Play Stores"
    ]}
    google="https://play.google.com/store/apps/details?id=com.platinumplayer.word.addict&hl=en_US"
    apple="https://apps.apple.com/us/app/word-collect-word-search/id1299956969"
    image="/images/word_collect_1.png"
    technologies={[
        "Unity",
        "C#",
        "Android/Java",
        "ObjectiveC",
        "Ruby on Rails",
        "MySQL",
        "CentOS",
        "html5"
    ]}
/>

<br>
<ProjectCard
title="Casual html5 Engine"
type="professional"
company="Super Free Games, Inc."
highlights={[
        "Developed a game engine to make small and casual games for web",
        "Used pixiJS and plugins like gsap to deliver a pleasing UX",
        "The goal was to make an engine for playable ads"
    ]}
video="/videos/casual_engine_1.mp4"
technologies={[
        "javascript",
        "html5",
        "css"
    ]}
/>

<br>
<ProjectCard
    title="Trivia Star"
    type="professional"
    company="Super Free Games, Inc."
    highlights={[
        "Supported Development, Bug Fixing and Architectural Design",
        "Served as Engineering Lead doing reviews, task assignment, design meetings and mentoring",
        "Also served as occasional database Administraror, DevOps Support and Producer",
    ]}
    google="https://play.google.com/store/apps/details?id=com.trivia.star.android&hl=en_US"
    apple="https://apps.apple.com/us/app/trivia-star-trivia-games-quiz/id1508418993"
    image="/images/trivia_star_1.png"
    technologies={[
        "Unity",
        "C#",
        "Ruby on Rails",
        "MySQL",
        "CentOS"
    ]}
/>

<br>
<ProjectCard
title="Action RPG System"
type="personal"
highlights={[
        "Developed a Small 3rd Person Action RPG System",
        "Implemented most of the systems for fun and learning purposes",
        "Implemented many AAA Standard GameDev Design Patterns!"
    ]}
video="/videos/arpg_2.mp4"
technologies={[
        "Unity",
        "C#"
    ]}
/>

<br>
<ProjectCard
    title="WordLook"
    type="professional"
    company="Super Free Games, Inc."
    highlights={[
        "Focused on Performance Optimization of a more experimental Word Game",
        "Developed the Unity Architecture/Infrastructure to effectively deliver content",
        "Also served as Occasional Database Administraror and DevOps Support"
    ]}
    image="/images/word_look_1.png"
    technologies={[
        "Unity",
        "C#",
        "Android/Java",
        "ObjectiveC",
        "Ruby on Rails",
        "MySQL",
        "CentOS",
        "html5",
    ]}
/>


<br>
<ProjectCard
    title="CaveTown"
    type="professional"
    company="IkiGaming, S. de R.L."
    highlights={[
        "Social and Isometric Game for the (back then) Facebook Platform",
        "Developed a lot of the Game Client's Systems and Content Processing",
        "Focused on Performance Improvement and Texture Memory Optimization"
    ]}
    image="/images/cavetown_1.png"
    technologies={[
        "ActionScript",
        "Flash",
        "PhP",
        "MySQL",
        "CentOS",
    ]}
/>

<br>
<ProjectCard
title="(untitled) Zombie Game"
type="personal"
highlights={[
        "Dual/Twin Stick top down shooter with zombies",
        "Made a game mostly for fun and learning the quirks of mobile dev",
        "Implemented my own gameplay loop and patterns for GameDev on mobile",
        "Used Cocos2D for iOS to facilitate UX",
        "Project was lost a few years ago"
    ]}
technologies={[
        "ObjectiveC",
        "iOS",
        "Cocos2D"
    ]}
/>

<br>
<ProjectCard
title="Retro Horror Game"
type="personal"
highlights={[
        "Developed a Small Retro Horror Game with Unity Asset Store Assets",
        "Used a few available assets and added post-processing and effects to create a retro aesthetic",
    ]}
video="/videos/horror_2.mp4"
technologies={[
        "Unity",
        "C#"
    ]}
/>

<br>

</section>

</Layout>