<nav
class="
fixed
top-0
right-0
left-0
z-50
bg-midnight/90
backdrop-blur
">

<div
class="
max-w-6xl
mx-auto
px-6
py-5
flex
justify-between
items-center
">

<a
href="/"
class="
text-2xl
font-bold
text-rose
">
Miguel Morales
</a>


<div class="flex gap-8">

<a
href="/"
class="
text-white/80
hover:text-rose
transition
">
About
</a>


<a
href="/projects"
class="
text-white/80
hover:text-rose
transition
">
Portfolio
</a>

<a
href="/resume"
class="
text-white/80
hover:text-rose
transition
">
Resume
</a>


<!--
<a
href="/contact"
class="
text-white/80
hover:text-rose
transition
">
Contact
</a>
-->

</div>

</div>

</nav>